body {
	background-image: 
	url("wov.png"); 

}

h1 {
	border: 1px solid #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	background-color: #4aaaa5;
	border-color: #cccccc;
	text-align: center;
	margin: 0;
	width: 40%;

}

h2{
	color: #4aaaa5;

}

img{
	float: left;

}

p{
	
	clear: fixed;
}

footer{
	border: 10px solid #4aaaa5;
	clear: both;
	background-color: #666666;
	padding: 40px;
	text-align: center;
	font-color: black;
	clear: right;
	clear: left;
}

h3 {
	float-right
	margin-top: right;
}




